@(loginForm: Form[LoginData])(implicit flash: Flash, session: play.api.mvc.Session)

@main("login") {

<div>
    <h1>Login</h1>
</div>

@if(flash.get("success").getOrElse(null) != null) {
<div class="alert alert-success fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success</strong> @flash.get("success")
</div>
}
@if(flash.get("error").getOrElse(null) != null) {
<div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error</strong> @flash.get("error")
</div>
}
@if(loginForm.hasGlobalErrors) {
<div class="alert alert-danger fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error</strong> Invalid something
    <ul>
        @loginForm.globalErrors.foreach { error =>
        <li>@error.message</li>
        }
    </ul>
</div>
}

@helper.form(action = routes.Application.authenticate()) {
<div>
    <p><input type="email" name="email" placeholder="e-mail" value="@loginForm("email").value"></p>
    <p><input type="password" name="password" placeholder="password"></p>
    <p><button type="submit">Login</button></p>
</div>
}



}